.chunk {
  font-family: 'chunkfiveroman';
}

.naranja {
  color: #f5841f;
}

h1.chunk {
  font-size: 2.4em;
  text-align: center;
  line-height: 0.8em;
}

h1.chunk span {
  color: #f5841f;
  font-size: 0.83em;
}

h2.chunk {
  font-size: 1.7em;
  text-align: center;
}

h2.chunk span {
  color: #f5841f;
  font-size: 2.4em;
}

h2.chunk span.two {
  color: #000;
  font-size: 1.3em;
}

iframe {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background: transparent url("../../images/background.jpg") repeat center top;
  color: #000;
  font-family: 'Lato', sans-serif;
}

.navbar-default {
  background: transparent;
  border: none;
  font-family: chunkfiveroman;
  transition: background 1s ease;
}

.navbar-default.shadow {
  background: rgba(0,0,0,0.85);
  transition: background 1s ease;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #fff;
  border-radius: 2px;
  height: 4px;
  width: 25px;
}

.navbar-brand span {
  font-size: 0.7em;
}

.banner-video {
  background: transparent url("../../images/franquicia.jpg") no-repeat 45.7% top;
  background-size: cover;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.banner-video .play {
  background: rgba(255,255,255,0.7);
  border-radius: 50%;
  height: 80px;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  position: absolute;
  text-align: center;
  top: 50%;
  vertical-align: middle;
  width: 80px;
}

.banner-video .burger-love {
  bottom: -70px;
  height: auto;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 90%;
}

.banner-video .burger-love img {
  width: 285px;
}

.text-container {
  background: #fff;
  margin-bottom: 30px;
  margin-top: 30px;
}

.text-container.beerday .title img {
  margin-top: -60px;
}

.text-container.beerday p {
  margin-top: -80px;
}

.text-container .title {
  padding: 0;
  text-align: center;
}

.text-container .title img {
  height: auto;
  width: 90%;
}

.text-container p {
  padding: 15px;
}

.product-slider img {
  display: block;
  height: auto;
  width: 100%;
}

.metanle-tuuurbo {
  background: transparent url("../../images/metanleturbo.jpg") no-repeat center center;
  height: 300px;
  text-align: center;
}

.metanle-tuuurbo img {
  width: 300px;
}

/*filosofía*/

.inner-banner {
  height: 300px;
  background: #000;
  text-align: center;
  background-size: cover;
}

.inner-banner.filosofia {
  background: transparent url("../../images/filosofia.jpg") no-repeat center top;
}

.inner-banner.acercade {
  background: transparent url("../../images/acerca_de.jpg") no-repeat center top;
}

.inner-banner.clubpistones {
  background: transparent url("../../images/clubpistones.jpg") no-repeat center top;
}

.inner-banner.cocina {
  background: transparent url("../../images/cocina.jpg") no-repeat center top;
}

.inner-banner .inner-title {
  margin-top: 150px;
}

/*Acerca de*/

.container.space {
  margin-bottom: 20px;
  margin-top: 20px;
}

.container.black {
  background: #000;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.container.black .text-container {
  background: #000;
}

.container.black h1.nuestra {
  font-size: 3.6em;
  background: #000;
}

.container.black h1.nuestra span.naranja {
  font-size: 1em;
}

h2.concepto {
  font-size: 2.7em;
}

/*Club Pistones*/

.container.white.clubpistones {
  background: #fff;
  color: #000;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.container.white.clubpistones .text-container {
  background: #fff;
}

.container.white.clubpistones .text-container.black {
  background: #000;
}

.container.white.clubpistones h1 {
  font-size: 2.3em;
  background: #fff;
  line-height: 1.2em;
}

.container.white.clubpistones h1 span.naranja {
  font-size: 1.6em;
}

.text-container.black {
  background: #000;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-container.black h2.conoce {
  font-size: 2.4em;
}

.text-container.black h2.conoce span {
  font-size: 1.05em;
}

/*cocina*/

.adictiva .last {
  margin-top: -30px;
  padding-bottom: 20px;
}

.back_naranja {
  background: #f5841f;
  color: #fff;
}

.back_naranja h1 {
  background: #f5841f;
}

.back_naranja h1 img {
  width: 100%;
}

.estrellas {
  width: 98%;
}

.text-container img {
  width: 100%;
  margin-top: -50px;
}

h2.chunk.botana {
  font-size: 2.6em;
}

h2.chunk.antoja {
  font-size: 2.1em;
}

h2.chunk.antoja span {
  font-size: 1.3em;
}

footer {
  background: rgba(0,0,0,0.85);
  height: auto;
  margin-top: 40px;
  overflow: hidden;
  text-align: center;
}

footer img {
  width: 300px;
}

footer ul.social {
  padding: 0;
  margin-top: -70px;
}

footer ul.social li {
  display: inline-block;
  font-size: 3em;
  margin: 0 2px;
}

footer ul.social a {
  color: #f5841f;
}

footer .disclaimer {
  border-top: 1px solid #fff;
  color: #fff;
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}

footer .disclaimer a {
  color: #02e0e1;
}

@media screen and (min-width: 480px) {
  h1.chunk {
    font-size: 3.7em;
  }

  h2.chunk {
    font-size: 2.7em;
  }

  iframe {
    width: 100%;
    height: 400px;
  }

  .container.black h1.nuestra {
    font-size: 5.6em;
  }

  h2.concepto {
    font-size: 4.7em;
  }

  .card {
    margin-top: -40px;
  }

  .container.white.clubpistones h1 {
    font-size: 3.2em;
  }

  .text-container.black h2.conoce {
    font-size: 4.1em;
  }

  .adictiva .last {
    margin-top: -80px;
  }

  .text-container img.burger-love {
    margin-top: -160px;
  }

  .p-top-20 {
    padding-top: 20px;
  }

  .text-container.p-top-20 p {
    margin-top: -100px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-bottom: 25px;
    padding-top: 15px;
  }

  h1.chunk {
    font-size: 1.8em;
  }

  h2.chunk {
    font-size: 1.1em;
  }

  iframe {
    height: 336px;
  }

  .navbar-brand {
    display: none;
  }

  .navbar-default {
    padding-bottom: 10px;
  }

  .navbar-default .navbar-nav {
    padding-top: 10px;
    letter-spacing: 1px;
  }

  .navbar-default .navbar-nav>.active>a {
    color: #f5841f;
    background: transparent;
  }

  .navbar-default .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8em;
  }

  .navbar-default .navbar-nav>li>a:hover,
  .navbar-default .navbar-nav>li>a:active {
    color: #f5841f;
    transition: color 0.5s ease;
  }

  .navbar-default .navbar-collapse {
    text-align: center;
  }

  .navbar-default .navbar-nav {
    float: none;
  }

  .navbar-default .navbar-nav li {
    display: inline-block;
    float: none;
    vertical-align: middle;
  }

  .navbar-default .navbar-nav li a span {
    color: transparent;
  }

  .navbar-default .navbar-nav li#home {
    height: 50px;
    overflow: hidden;
    width: 80px;
  }

  .navbar-default .navbar-nav li#home img {
    margin-left: -11px;
    margin-top: -26px;
    width: 80px;
  }

  .nav>li>a {
    padding: 10px;
    transition: color 0.5s ease;
  }

  .banner-video {
    margin-bottom: 30px;
  }

  .text-container {
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .text-container.first {
    margin-top: 30px;
  }

  .text-container .title img.livesports {
    margin-top: -15px;
  }

  .metanle-tuuurbo {
    margin-bottom: 50px;
  }

  .metanle-tuuurbo img {
    width: 400px;
    margin-top: -45px;
  }

  h2.concepto {
    font-size: 2.5em;
  }

  .text-container .title img.taller_deportes {
    margin-top: -50px;
  }

  footer img {
    width: 450px;
  }

  footer ul.social {
    margin-top: -120px;
  }

  footer ul.social li {
    font-size: 4em;
    margin: 0 6px;
  }

  .text-container.black h2.conoce {
    font-size: 2.1em;
  }

  .back_naranja h1 img {
    width: 45%;
  }

  .estrellas {
    width: 45%;
    margin-top: -50px;
  }

  .text-container img {
    width: 100%;
    margin-top: 0px;
  }

  h2.chunk.botana {
    font-size: 2em;
  }

  h2.chunk.antoja {
    font-size: 1.5em;
  }

  h2.chunk.antoja span {
    font-size: 1.3em;
  }

  .col-sm-4,
  .col-sm-8 {
    vertical-align: middle;
  }

  .text-container img.burger-love {
    margin-top: 0;
    width: 90%;
  }

  .text-container.p-top-20 p {
    margin-top: -50px;
  }
}

@media screen and (min-width: 1000px) {
  h1.chunk {
    font-size: 2.6em;
  }

  h2.chunk {
    font-size: 1.8em;
  }

  .text-container.first {
    margin-top: 130px;
  }

  .nav>li>a {
    padding: 10px 15px;
  }

  .navbar-default .navbar-nav>li>a {
    font-size: 1em;
  }

  .navbar-default .navbar-nav li#home {
    height: 65px;
    width: 100px;
  }

  .navbar-default .navbar-nav li#home img {
    margin-left: -16px;
    margin-top: -29px;
    width: 100px;
  }

  .banner-video {
    height: 625px;
  }

  .metanle-tuuurbo {
    margin-bottom: 80px;
  }

  .metanle-tuuurbo img {
    width: 450px;
    margin-top: -72px;
  }

  h2.concepto {
    font-size: 3.3em;
  }

  .text-container.black h2.conoce {
    font-size: 2.8em;
  }

  .back_naranja {
    margin-top: 20px;
  }

  .back_naranja h1 img {
    margin-top: -90px;
    width: 350px;
  }
}

@media screen and (min-width: 1280px) {
  .navbar-default .navbar-nav>li>a {
    font-size: 1.2em;
  }

  .navbar-default .navbar-nav li#home {
    height: 80px;
    width: 140px;
  }

  .navbar-default .navbar-nav li#home img {
    margin-top: -41px;
    width: 140px;
  }
}