naranja = #F5841F
turquesa = #02E0E1
body
	background transparent url(../../images/background.jpg) repeat center top
	color black
	font-family 'Lato', sans-serif
.navbar-default
	background transparent
	border none
	.navbar-toggle
		border none
		.icon-bar
			background white
			border-radius 2px
			height 4px
			width 25px
.navbar-brand span
	font-size .7em

.banner-video
	background transparent url(../../images/franquicia.jpg) no-repeat 45.7% top
	background-size cover
	height 400px
	overflow hidden
	position relative
	.play
		background rgba(white, .7)
		border-radius 50%
		height 80px
		left 50%
		margin-left -40px;
		margin-top -40px;
		position absolute
		text-align center
		top 50%
		vertical-align middle
		width 80px
	.burger-love
		bottom -70px
		height auto
		overflow hidden
		position absolute
		text-align center
		width 90%
		img
			width 285px
.text-container
	background white
	margin-bottom 30px
	margin-top 30px
	.title
		padding 0
		text-align center
		img
			height auto
			width 90%
	p
		padding 15px
.product-slider
	img
		display block
		height auto
		width 100%
.metanle-tuuurbo
	background transparent url(../../images/metanleturbo.jpg) no-repeat center center
	height 300px
	text-align center
	img
		width 300px
footer
	background rgba(black, .9)
	height auto
	margin-top 40px
	overflow hidden
	text-align center
	img
		width 300px
	ul.social
		padding 0
		margin-top -70px
		li
			display inline-block
			font-size 3em
			margin 0 2px
		a
			color naranja
	.disclaimer
		border-top 1px solid white
		color white
		width 90%
		margin 0 auto
		padding 30px 0
		a
			color turquesa