naranja = #F5841F
turquesa = #02E0E1
.chunk
	font-family 'chunkfiveroman'
.naranja
	color naranja
h1.chunk
	font-size 2.4em
	text-align center
	line-height .8em
	span
		color naranja
		font-size .83em
h2.chunk
	font-size 1.7em
	text-align center
	span
		color naranja
		font-size 2.4em
	span.two
		color black
		font-size 1.3em
iframe
	width 100%
	height auto
	display block

body
	background transparent url(../../images/background.jpg) repeat center top
	color black
	font-family 'Lato', sans-serif
.navbar-default
	background transparent
	border none
	font-family chunkfiveroman
	transition background 1s ease
	&.shadow
		background rgba(black, .85)
		transition background 1s ease
	.navbar-toggle
		border none
		.icon-bar
			background white
			border-radius 2px
			height 4px
			width 25px
.navbar-brand span
	font-size .7em

.banner-video
	background transparent url(../../images/franquicia.jpg) no-repeat 45.7% top
	background-size cover
	height 400px
	overflow hidden
	position relative
	.play
		background rgba(white, .7)
		border-radius 50%
		height 80px
		left 50%
		margin-left -40px
		margin-top -40px
		position absolute
		text-align center
		top 50%
		vertical-align middle
		width 80px
	.burger-love
		bottom -70px
		height auto
		overflow hidden
		position absolute
		text-align center
		width 90%
		img
			width 285px
.text-container
	background white
	margin-bottom 30px
	margin-top 30px
	&.beerday
		.title img
			margin-top -60px
		p
			margin-top -80px
	.title
		padding 0
		text-align center
		img
			height auto
			width 90%
	p
		padding 15px
.product-slider
	img
		display block
		height auto
		width 100%
.metanle-tuuurbo
	background transparent url(../../images/metanleturbo.jpg) no-repeat center center
	height 300px
	text-align center
	img
		width 300px

/*filosofía*/

.inner-banner
	height 300px
	background black
	text-align center
	background-size cover
	&.filosofia
		background transparent url(../../images/filosofia.jpg) no-repeat center top
	&.acercade
		background transparent url(../../images/acerca_de.jpg) no-repeat center top
	&.clubpistones
		background transparent url(../../images/clubpistones.jpg) no-repeat center top
	&.cocina
		background transparent url(../../images/cocina.jpg) no-repeat center top
	.inner-title
		margin-top 150px

/*Acerca de*/
.container.space
	margin-bottom 20px	
	margin-top 20px
.container.black
	background black
	color white
	margin-top 30px
	margin-bottom 30px
	padding-bottom 20px
	.text-container
		background black
	h1.nuestra
		font-size 3.6em
		background black
		span.naranja
			font-size 1em
h2.concepto
	font-size 2.7em
	
/*Club Pistones*/
.container.white.clubpistones
	background white
	color black
	margin-top 30px
	margin-bottom 30px
	padding-bottom 20px
	.text-container
		background white
		&.black
			background black
	h1
		font-size 2.3em
		background white
		line-height 1.2em
		span.naranja
			font-size 1.6em
.text-container.black
	background black
	color white
	padding-top 10px
	padding-bottom 10px
	h2.conoce
		font-size 2.4em
		span
			font-size 1.05em

/*cocina*/
.adictiva
	.last
		margin-top -30px
		padding-bottom 20px
.back_naranja
	background naranja
	color white
	h1
		background naranja
		img
			width 100%
.estrellas
	width 98%
.text-container
	img
		width 100%
		margin-top -50px
h2.chunk.botana
	font-size 2.6em
	
h2.chunk.antoja
	font-size 2.1em
	span
		font-size 1.3em
	
footer
	background rgba(black, .85)
	height auto
	margin-top 40px
	overflow hidden
	text-align center
	img
		width 300px
	ul.social
		padding 0
		margin-top -70px
		li
			display inline-block
			font-size 3em
			margin 0 2px
		a
			color naranja
	.disclaimer
		border-top 1px solid white
		color white
		width 90%
		margin 0 auto
		padding 30px 0
		a
			color turquesa

@media screen and (min-width:480px)
	h1.chunk
		font-size 3.7em
	h2.chunk
		font-size 2.7em
	iframe
		width 100%
		height 400px
	/*Acerca de*/
	.container.black
		h1.nuestra
			font-size 5.6em
	h2.concepto
		font-size 4.7em
	/*club pistones*/
	.card
		margin-top -40px
	.container.white.clubpistones
		h1
			font-size 3.2em
	.text-container.black
		h2.conoce
			font-size 4.1em
	/*Cocina*/
	.adictiva .last
		margin-top -80px
	.text-container img.burger-love
		margin-top -160px
	.p-top-20
		padding-top 20px
	.text-container.p-top-20
		p
			margin-top -100px
@media screen and (min-width:768px)
	.container
		padding-bottom 25px
		padding-top 15px
	h1.chunk
		font-size 1.8em
	h2.chunk
		font-size 1.1em
	iframe
		height 336px
	.navbar-brand
		display none
	.navbar-default
		padding-bottom 10px
		.navbar-nav
			padding-top 10px
			letter-spacing 1px
	.navbar-default .navbar-nav>.active>a
		color naranja
		background transparent
	.navbar-default .navbar-nav>li>a
		color white
		text-transform uppercase
		font-size .8em
	.navbar-default
		.navbar-nav>li>a
				&:hover
				&:active
					color naranja
					transition color .5s ease
		.navbar-collapse
			text-align center
		.navbar-nav
			float none
			li
				display inline-block
				float none
				vertical-align middle
			li a span
				color transparent
			li#home
				height 50px
				overflow hidden
				width 80px
				img
					margin-left -11px
					margin-top -26px
					width 80px
	.nav>li>a
		padding 10px
		transition color .5s ease
	.banner-video
		margin-bottom 30px
	.text-container
		margin-top 0px
		padding-top 10px
		padding-bottom 10px
		&.first
			margin-top 30px
		.title img.livesports
			margin-top -15px
	.metanle-tuuurbo
		margin-bottom 50px
		img
			width 400px
			margin-top -45px
	/*acerca de 768*/
	h2.concepto
		font-size 2.5em
	.text-container .title img.taller_deportes
		margin-top -50px
	footer
		img
			width 450px
		ul.social
			margin-top -120px
			li
				font-size 4em
				margin 0 6px
	/*Club Pistones*/
	.text-container.black
		h2.conoce
			font-size 2.1em
	/*Cocina*/
	.back_naranja
		h1
			img
				width 45%
	.estrellas
		width 45%
		margin-top -50px
	.text-container
		img
			width 100%
			margin-top 0px
	h2.chunk.botana
		font-size 2em
	h2.chunk.antoja
		font-size 1.5em
		span
			font-size 1.3em
	.col-sm-4
	.col-sm-8
		vertical-align middle
	.text-container
		img.burger-love
			margin-top 0
			width 90%
	.text-container.p-top-20 p
			margin-top -50px
@media screen and (min-width:1000px)
	h1.chunk
		font-size 2.6em
	h2.chunk
		font-size 1.8em
	.text-container.first
		margin-top 130px
	.nav>li>a
		padding 10px 15px
	.navbar-default
		.navbar-nav>li>a
			font-size 1em
		.navbar-nav
			li#home
				height 65px
				width 100px
				img
					margin-left -16px
					margin-top -29px
					width 100px
	.banner-video
		height 625px
	.metanle-tuuurbo
		margin-bottom 80px
		img
			width 450px
			margin-top -72px
	/*acerca de 1000*/
	h2.concepto
		font-size 3.3em
	/*Club Pistones*/
	.text-container.black
		h2.conoce
			font-size 2.8em
	/*Cocina*/
	.back_naranja
		margin-top 20px
		h1
			img
				margin-top -90px
				width 350px
@media screen and (min-width:1280px)
	.navbar-default
		.navbar-nav>li>a
			font-size 1.2em
		.navbar-nav
			li#home
				height 80px
				width 140px
				img
					margin-top -41px
					width 140px